body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-image {
    background-image: url('uri');
    text-indent: -99999px;
    overflow: hidden;
}

#roku {
    background-image: url("../images/tvwall.jpg");
    background-position: left center;
    width: 570px;
    height: 400px;
}

#quick-launch {
    padding-left: 10px;
    float: right;
    
}

#buttons1 {
    position: absolute;
    top: 110px;
    left:260px;
}

#buttons2 {
    position: absolute;
    top: 138px;
    left: 285px;
}

#buttons3 {
    position: absolute;
    top: 166px;
    left: 260px;
}

#buttons4 {
    position: absolute;
    top: 194px;
    left: 280px;
}

#buttons5 {
    position: absolute;
    top: 222px;
    left: 285px;
}

#buttons6 {
    position: absolute;
    top: 260px;
    left: 220px;
}

.carSwitchSection_a{
     width: 33.33%;
    padding: 20px;
    background-color: #d7d7d7;
    float: left;
    margin: 0;


}
.carSwitchSection_b{
     width: 33.33%;
    padding: 20px;
    background-color: #d7d7d7;
    float: left;
    margin: 0;


}
.carSwitchSection_c{
     width: 33.33%;
    padding: 20px;
    background-color: #d7d7d7;
    float: left;
    margin: 0;
}

#fuel-meter {
    position: relative;
    top: 20px;
}

#car-switches {
    margin-top: 50px;
}