@model RedTeam.Models.CarSimulator
@{
    ViewBag.Title = "Dashboard";

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
        
        (function ($) {
            "use strict";
            $(document).ready(function () {

                $('#doorLock').click(function () {
                    alert(this.checked ? "Doors Locked" : "Unlocked ");
                });
            });

        })(jQuery);
    </script>
}

<h4>Dashboard Home</h4>

<div class="col-sm-6 col-lg-6">
    <h4 class="h4">Head Light</h4>
    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-doorLock bootstrap-switch-animate bootstrap-switch-off " style="width:210px;">
        <div class="bootstrap-switch-container" style="width:200px;margin-left:0px;">
            <input type="checkbox" id="doorLock" checked/> Lock Door
        </div>

    </div>
    <ul id="statusmessage"></ul>

    
</div>

@section scripts {

<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>


<script>
    $(function () {
        var dashboardHub = $.connection.dashboardHub;

        $.connection.hub.start().done(function () {
            $('#doorLock').click(function () {
                var boxstatus = $('#doorLock').is(':checked');
                // Call the Send method on the hub.
                dashboardHub.server.doorLockCmd(boxstatus);
            });

        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    };
</script>

}