@model RedTeam.Models.CarSimulator
@{
    ViewBag.Title = "Dashboard";
    @*<link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap-switch.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="bootstrap-switch.js"></script>*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>

        (function ($) {
            "use strict";
            $(document).ready(function () {

                $('#doorLock').click(function () {
                    alert(this.checked ? "Doors Locked" : "Unlocked ");
                });

                $('#carLight').click(function () {
                    alert(this.checked ? "Lights On" : "Lights Off");
                });

                $('#carEngine').click(function () {
                    alert(this.checked ? "Engine On" : "Engine Off");
                });
            });

        })(jQuery);
    </script>
    @Styles.Render("~/Content/css")

}

<h1>Dashboard Home</h1>

<div class="carSwitchSection_a">
    <div>
        <h2 class="h3">Car Doors</h2>
        <div class="bootstrap-switch-container bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-doorLock bootstrap-switch-animate" style=" width:125px;margin-left:-12px;">
            <input id="doorLock" type="checkbox" name="mylock" checked /><button type="button" class="btn btn-default" data-switch-toggle="state" data-switch-get="state"  id="doorLock"><img src="~/Images/LockCar.png" height="35" width="35" /></button>
        </div>
    </div>
</div>

<div class="carSwitchSection_b">


    <h2 align="middle">Virtual Car Remote</h2>
    <img src="~/images/wireCar.png" alt="Virtual Car" align="middle" />


<div>
    <input type="checkbox" id="doorLock" /> Lock Door
    <ul id="statusmessage"></ul>
    <input type="checkbox" id="carLight" /> Turn off Lights
    <ul id="statusmessage"></ul>
    <input type="checkbox" id="carEngine" /> Turn off Engine
    <ul id="statusmessage"></ul>


</div>

@*<div class="col-sm-6 col-lg-4">
        <h2 class="h5">Head Lights</h2>
        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-headLight bootstrap-switch-animate bootstrap-switch-off " style="width:210px;">
            <div class="bootstrap-switch-container" style="width:200px;margin-left:0px;">
                <img src="~/Images/LockCar.png" sizes="sm" />
                <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width:53px;">NO</span>
                <span class="bootstrap-switch-label" style="width:53px;">&nbsp;></span>
                <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width:53px;">OFF</span>
                <input id="doorLock" type="checkbox" checked /> Lock Door
            </div>
        </div>
        <ul id="statusmessage"></ul>


    </div>*@
<div class="carSwitchSection_c">
    <div class="container ">
        <h2 class="h3">Current Speed</h2>

        <div id="currentSpeed"></div>

        <div>
            <ul id="logmessage"></ul>
        </div>
    </div>

    <div class="container ">
        <h2 class="h3">Current Gas Level</h2>

        <div id="currentGasLevel"></div>

        <div>
            <ul id="gaslogmessage"></ul>
        </div>
    </div>
</div>



@section scripts {

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>


    <script>
        $(function () {
            var dashboardHub = $.connection.dashboardHub;

            dashboardHub.client.sendASpeed = function (speed) {
                // update the display of the speed:
                $("#currentSpeed").text(speed);
                // Add the message to the page.
                $('#logmessage').append('<li><strong>' + 'Car current speed is: ' + speed + ' Mph' + '</li>');
            };
            dashboardHub.client.sendAGasLevel = function (gas) {
                // update the display of the gas:
                $("#currentGasLevel").text(gas);
                // Add the message to the page.
                $('#gaslogmessage').append('<li><strong>' + 'Car current gas level is: ' + gas + ' gallons' + '</li>');
            };
            $.connection.hub.start().done(function () {
                $('#doorLock').click(function () {
                    var boxstatus = $('#doorLock').is(':checked');
                    // Call the Send method on the hub.
                    dashboardHub.server.doorLockCmd(boxstatus);
                });
            });

            $('#carLight').click(function () {
                var boxstatus = $('#carLight').is(':checked');
                dashboardHub.server.carLightCmd(boxstatus);
            });
            $('#carEngine').click(function () {
                var boxstatus = $('#carEngine').is(':checked');
                dashboardHub.server.carEngineCmd(boxstatus);
            });

        });
        //function htmlEncode(value) {
        //    var encodedValue = $('<div />').text(value).html();
        //    return encodedValue;
        //};
        $("[name='mylock']").bootstrapSwitch();
    </script>
    @Scripts.Render("~/bundles/bootstrap")

}
