
@{
    ViewBag.Title = "Dashboard";

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
        
        (function ($) {
            "use strict";
            $(document).ready(function () {

                $('#doorLock').click(function () {
                    alert(this.checked ? "Doors Locked" : "Unlocked ");
                });

                $('#carLight').click(function () {
                    alert(this.checked ? "Lights On" : "Lights Off");
                });
            });

        })(jQuery);
    </script>
}

<h4>Dashboard Home</h4>

<div>
    <input type="checkbox" id="doorLock" /> Lock Door
    <ul id="statusmessage"></ul>
    <input type="checkbox" id="carLight" /> Turn off Lights
    <ul id="statusmessage"></ul>


</div>

@section scripts {

<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>


<script>
    $(function () {
        var dashboardHub = $.connection.dashboardHub;

        $.connection.hub.start().done(function () {
            $('#doorLock').click(function () {
                var boxstatus = $('#doorLock').is(':checked');
                // Call the Send method on the hub.
                dashboardHub.server.doorLockCmd(boxstatus);
            });
            $('#carLight').click(function () {
                var boxstatus = $('#carLight').is(':checked');
                dashboardHub.server.carLightCmd(boxstatus);
            });
        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    };
</script>

}