@model RedTeam.Models.Roku
@using RedTeam.Helper
@using RedTeam.Controllers


@{
    ViewBag.Title = "Roku";
}

<h2>Roku</h2>


<div class="row">
    <div class="col-md-6">
        <div>
            <form action="http://10.251.1.162:8060/keypress/home" method="post">
                <input type="submit" value="Form Home">
            </form>
        </div>
        <div>
            <button id="goHome">JS Home</button>
        </div>
    </div>

    <div class="col-md-6">
        @*<div>
            @foreach (var item in myFavorites)
            {
                string uri = "http://10.251.1.162:8060/query/icon/" + item;
            }
        </div>*@

    </div>
</div>