@model RedTeam.Models.Roku
@using RedTeam.Helper
@using RedTeam.Controllers


@{
    ViewBag.Title = "Roku";
}

<h2>Roku</h2>


<div class="row">
    <div class="col-md-6">
        <div class="row"><span><button id="back">Back</button></span><span><button id="home">Home</button></span></div>
        <div class="row"><button id="up" val="up" where="@ViewBag.Location">Up</button></div>
        <div class="row"><span><button id="left">Left</button></span><span><button id="right">Right</button></span></div>
        <div class="row"><button id="down">Down</button></div>
        <div class="row"><button id="select">OK</button></div>
        <div class="row">
            <span><button id="rewind">Rewind</button></span><span><button id="play">Play</button></span>
            <span><button id="forward" value="fwd">Forward</button></span>
        </div>
    </div>





    <div class="col-md-6">
        <div class="row">
            <span><img src="@ViewBag.rokuLoc + ':8060/query/icon/12'" /></span>
            <span><a href="javascript: quickLaunch(13);"><img src="http://10.251.1.162:8060/query/icon/13" /></a></span>
        </div>
        <div class="row">
            <span><img src="http://10.251.1.162:8060/query/icon/26950" /></span>
            <span><img src="http://10.251.1.162:8060/query/icon/23333" /></span>
        </div>
    </div>
</div>


@*@foreach (var item in ViewBag.myfavorites)
{
    string imageuri = "http://10.251.1.162:8060/query/icon/" + item.appID;
    <img src="@imageuri" id="quicklaunch" val="@item.appID" />
    <br />
}*@