@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">Welcome to ConnectME!</h1>
    <p class="lead" style="text-align:center">Connect various devices wireless through your computer!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Roku Remote</h2>
        <a href="http://localhost:55206/Home/About">
            <img src="http://content.abt.com/image.php/remote_3100R.jpg?image=/images/products/BDP_Images/remote_3100R.jpg&canvas=1&quality=100&min_w=450&min_h=320&ck=346" />
        </a>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Car Remote</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>