@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">ConnectME!</h1>
    

<!--
<div class="row">
    <div class="col-md-6">
        <a href="http://localhost:55206/Roku">
            <img src="http://content.abt.com/image.php/remote_3100R.jpg?image=/images/products/BDP_Images/remote_3100R.jpg&canvas=1&quality=100&min_w=450&min_h=320&ck=346" />
        </a>

    </div>
    <div class="col-md-6">        
        <a href="http://localhost:55206/Dashboard">
            <img src="http://i.i.cbsi.com/cnwk.1d/i/tim/2011/07/28/OnStar_app.jpg" height="397" width="214" />
        </a>   
    </div>
</div>-->
    </div>
