@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">Welcome to ConnectME!</h1>
    <p class="lead" style="text-align:center">Connect various devices wireless through your computer!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="text-align:center">Roku Remote</h2>
        <a href="http://localhost:55206/Home/About">
            <img src="http://content.abt.com/image.php/remote_3100R.jpg?image=/images/products/BDP_Images/remote_3100R.jpg&canvas=1&quality=100&min_w=450&min_h=320&ck=346" />
        </a>

    </div>
    <div class="col-md-6">
        <h2 style="text-align:center">Car Remote</h2>
        <a href="http://localhost:55206/Home/Contact">
            <img src="http://i.i.cbsi.com/cnwk.1d/i/tim/2011/07/28/OnStar_app.jpg" height="450" width="400"/>
        </a>   
    </div>
</div>